<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>F88 Collection.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>79C5D7D571B48BD64540B81DB7903E198CDB3095</string>
				<key>dateExpires</key>
				<string>06/05/2022</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79C5D7D571B48BD64540B81DB7903E198CDB3095</string>
						<key>dateExpires</key>
						<string>06/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AWSCognito.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8PPX97PJZ</string>
						<key>name</key>
						<string>F88 BUSINESS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79C5D7D571B48BD64540B81DB7903E198CDB3095</string>
						<key>dateExpires</key>
						<string>06/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AWSCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8PPX97PJZ</string>
						<key>name</key>
						<string>F88 BUSINESS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79C5D7D571B48BD64540B81DB7903E198CDB3095</string>
						<key>dateExpires</key>
						<string>06/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AWSS3.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8PPX97PJZ</string>
						<key>name</key>
						<string>F88 BUSINESS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79C5D7D571B48BD64540B81DB7903E198CDB3095</string>
						<key>dateExpires</key>
						<string>06/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8PPX97PJZ</string>
						<key>name</key>
						<string>F88 BUSINESS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79C5D7D571B48BD64540B81DB7903E198CDB3095</string>
						<key>dateExpires</key>
						<string>06/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DBCameraButton.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8PPX97PJZ</string>
						<key>name</key>
						<string>F88 BUSINESS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79C5D7D571B48BD64540B81DB7903E198CDB3095</string>
						<key>dateExpires</key>
						<string>06/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8PPX97PJZ</string>
						<key>name</key>
						<string>F88 BUSINESS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79C5D7D571B48BD64540B81DB7903E198CDB3095</string>
						<key>dateExpires</key>
						<string>06/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8PPX97PJZ</string>
						<key>name</key>
						<string>F88 BUSINESS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79C5D7D571B48BD64540B81DB7903E198CDB3095</string>
						<key>dateExpires</key>
						<string>06/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8PPX97PJZ</string>
						<key>name</key>
						<string>F88 BUSINESS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79C5D7D571B48BD64540B81DB7903E198CDB3095</string>
						<key>dateExpires</key>
						<string>06/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseDatabase.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8PPX97PJZ</string>
						<key>name</key>
						<string>F88 BUSINESS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79C5D7D571B48BD64540B81DB7903E198CDB3095</string>
						<key>dateExpires</key>
						<string>06/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8PPX97PJZ</string>
						<key>name</key>
						<string>F88 BUSINESS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79C5D7D571B48BD64540B81DB7903E198CDB3095</string>
						<key>dateExpires</key>
						<string>06/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstanceID.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8PPX97PJZ</string>
						<key>name</key>
						<string>F88 BUSINESS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79C5D7D571B48BD64540B81DB7903E198CDB3095</string>
						<key>dateExpires</key>
						<string>06/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8PPX97PJZ</string>
						<key>name</key>
						<string>F88 BUSINESS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79C5D7D571B48BD64540B81DB7903E198CDB3095</string>
						<key>dateExpires</key>
						<string>06/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8PPX97PJZ</string>
						<key>name</key>
						<string>F88 BUSINESS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79C5D7D571B48BD64540B81DB7903E198CDB3095</string>
						<key>dateExpires</key>
						<string>06/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8PPX97PJZ</string>
						<key>name</key>
						<string>F88 BUSINESS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79C5D7D571B48BD64540B81DB7903E198CDB3095</string>
						<key>dateExpires</key>
						<string>06/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>HPRecorder.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8PPX97PJZ</string>
						<key>name</key>
						<string>F88 BUSINESS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79C5D7D571B48BD64540B81DB7903E198CDB3095</string>
						<key>dateExpires</key>
						<string>06/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8PPX97PJZ</string>
						<key>name</key>
						<string>F88 BUSINESS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79C5D7D571B48BD64540B81DB7903E198CDB3095</string>
						<key>dateExpires</key>
						<string>06/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>IQMediaPickerController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8PPX97PJZ</string>
						<key>name</key>
						<string>F88 BUSINESS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79C5D7D571B48BD64540B81DB7903E198CDB3095</string>
						<key>dateExpires</key>
						<string>06/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ImageViewer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8PPX97PJZ</string>
						<key>name</key>
						<string>F88 BUSINESS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79C5D7D571B48BD64540B81DB7903E198CDB3095</string>
						<key>dateExpires</key>
						<string>06/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>KeychainSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8PPX97PJZ</string>
						<key>name</key>
						<string>F88 BUSINESS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79C5D7D571B48BD64540B81DB7903E198CDB3095</string>
						<key>dateExpires</key>
						<string>06/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8PPX97PJZ</string>
						<key>name</key>
						<string>F88 BUSINESS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79C5D7D571B48BD64540B81DB7903E198CDB3095</string>
						<key>dateExpires</key>
						<string>06/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8PPX97PJZ</string>
						<key>name</key>
						<string>F88 BUSINESS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79C5D7D571B48BD64540B81DB7903E198CDB3095</string>
						<key>dateExpires</key>
						<string>06/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MetechCallSdk.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8PPX97PJZ</string>
						<key>name</key>
						<string>F88 BUSINESS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79C5D7D571B48BD64540B81DB7903E198CDB3095</string>
						<key>dateExpires</key>
						<string>06/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Realm.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8PPX97PJZ</string>
						<key>name</key>
						<string>F88 BUSINESS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79C5D7D571B48BD64540B81DB7903E198CDB3095</string>
						<key>dateExpires</key>
						<string>06/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RealmSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8PPX97PJZ</string>
						<key>name</key>
						<string>F88 BUSINESS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79C5D7D571B48BD64540B81DB7903E198CDB3095</string>
						<key>dateExpires</key>
						<string>06/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SCSiriWaveformView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8PPX97PJZ</string>
						<key>name</key>
						<string>F88 BUSINESS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79C5D7D571B48BD64540B81DB7903E198CDB3095</string>
						<key>dateExpires</key>
						<string>06/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8PPX97PJZ</string>
						<key>name</key>
						<string>F88 BUSINESS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79C5D7D571B48BD64540B81DB7903E198CDB3095</string>
						<key>dateExpires</key>
						<string>06/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftAudio.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8PPX97PJZ</string>
						<key>name</key>
						<string>F88 BUSINESS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79C5D7D571B48BD64540B81DB7903E198CDB3095</string>
						<key>dateExpires</key>
						<string>06/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwipeView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8PPX97PJZ</string>
						<key>name</key>
						<string>F88 BUSINESS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79C5D7D571B48BD64540B81DB7903E198CDB3095</string>
						<key>dateExpires</key>
						<string>06/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>XLPagerTabStrip.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8PPX97PJZ</string>
						<key>name</key>
						<string>F88 BUSINESS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79C5D7D571B48BD64540B81DB7903E198CDB3095</string>
						<key>dateExpires</key>
						<string>06/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>bctoolbox-ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8PPX97PJZ</string>
						<key>name</key>
						<string>F88 BUSINESS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79C5D7D571B48BD64540B81DB7903E198CDB3095</string>
						<key>dateExpires</key>
						<string>06/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>bctoolbox-tester.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8PPX97PJZ</string>
						<key>name</key>
						<string>F88 BUSINESS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79C5D7D571B48BD64540B81DB7903E198CDB3095</string>
						<key>dateExpires</key>
						<string>06/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>bctoolbox.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8PPX97PJZ</string>
						<key>name</key>
						<string>F88 BUSINESS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79C5D7D571B48BD64540B81DB7903E198CDB3095</string>
						<key>dateExpires</key>
						<string>06/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>belcard.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8PPX97PJZ</string>
						<key>name</key>
						<string>F88 BUSINESS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79C5D7D571B48BD64540B81DB7903E198CDB3095</string>
						<key>dateExpires</key>
						<string>06/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>belle-sip.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8PPX97PJZ</string>
						<key>name</key>
						<string>F88 BUSINESS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79C5D7D571B48BD64540B81DB7903E198CDB3095</string>
						<key>dateExpires</key>
						<string>06/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>belr.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8PPX97PJZ</string>
						<key>name</key>
						<string>F88 BUSINESS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79C5D7D571B48BD64540B81DB7903E198CDB3095</string>
						<key>dateExpires</key>
						<string>06/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8PPX97PJZ</string>
						<key>name</key>
						<string>F88 BUSINESS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79C5D7D571B48BD64540B81DB7903E198CDB3095</string>
						<key>dateExpires</key>
						<string>06/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>lime.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8PPX97PJZ</string>
						<key>name</key>
						<string>F88 BUSINESS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79C5D7D571B48BD64540B81DB7903E198CDB3095</string>
						<key>dateExpires</key>
						<string>06/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>limetester.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8PPX97PJZ</string>
						<key>name</key>
						<string>F88 BUSINESS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79C5D7D571B48BD64540B81DB7903E198CDB3095</string>
						<key>dateExpires</key>
						<string>06/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>linphone.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8PPX97PJZ</string>
						<key>name</key>
						<string>F88 BUSINESS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79C5D7D571B48BD64540B81DB7903E198CDB3095</string>
						<key>dateExpires</key>
						<string>06/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>linphonesw.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8PPX97PJZ</string>
						<key>name</key>
						<string>F88 BUSINESS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79C5D7D571B48BD64540B81DB7903E198CDB3095</string>
						<key>dateExpires</key>
						<string>06/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>linphonetester.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8PPX97PJZ</string>
						<key>name</key>
						<string>F88 BUSINESS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79C5D7D571B48BD64540B81DB7903E198CDB3095</string>
						<key>dateExpires</key>
						<string>06/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>mediastreamer2.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8PPX97PJZ</string>
						<key>name</key>
						<string>F88 BUSINESS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79C5D7D571B48BD64540B81DB7903E198CDB3095</string>
						<key>dateExpires</key>
						<string>06/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>msamr.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8PPX97PJZ</string>
						<key>name</key>
						<string>F88 BUSINESS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79C5D7D571B48BD64540B81DB7903E198CDB3095</string>
						<key>dateExpires</key>
						<string>06/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>mscodec2.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8PPX97PJZ</string>
						<key>name</key>
						<string>F88 BUSINESS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79C5D7D571B48BD64540B81DB7903E198CDB3095</string>
						<key>dateExpires</key>
						<string>06/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>msopenh264.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8PPX97PJZ</string>
						<key>name</key>
						<string>F88 BUSINESS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79C5D7D571B48BD64540B81DB7903E198CDB3095</string>
						<key>dateExpires</key>
						<string>06/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>mssilk.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8PPX97PJZ</string>
						<key>name</key>
						<string>F88 BUSINESS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79C5D7D571B48BD64540B81DB7903E198CDB3095</string>
						<key>dateExpires</key>
						<string>06/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>mswebrtc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8PPX97PJZ</string>
						<key>name</key>
						<string>F88 BUSINESS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79C5D7D571B48BD64540B81DB7903E198CDB3095</string>
						<key>dateExpires</key>
						<string>06/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>msx264.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8PPX97PJZ</string>
						<key>name</key>
						<string>F88 BUSINESS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79C5D7D571B48BD64540B81DB7903E198CDB3095</string>
						<key>dateExpires</key>
						<string>06/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8PPX97PJZ</string>
						<key>name</key>
						<string>F88 BUSINESS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79C5D7D571B48BD64540B81DB7903E198CDB3095</string>
						<key>dateExpires</key>
						<string>06/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>netfox.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8PPX97PJZ</string>
						<key>name</key>
						<string>F88 BUSINESS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79C5D7D571B48BD64540B81DB7903E198CDB3095</string>
						<key>dateExpires</key>
						<string>06/05/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ortp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8PPX97PJZ</string>
						<key>name</key>
						<string>F88 BUSINESS JOINT STOCK COMPANY</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>X8PPX97PJZ.vn.f88.mobile.field</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>X8PPX97PJZ</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>F88 Collection.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>812b29b0-b3a7-455e-9201-9a4404fdaf7f</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: vn.f88.mobile.field</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>X8PPX97PJZ</string>
				<key>name</key>
				<string>F88 BUSINESS JOINT STOCK COMPANY</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
